body
{
    background: #39BE74;
    font: 14px/24px 'Dosis', sans-serif;
    margin: 0 !important;
}
h1
{
    padding-top: 5px;
}
#wrapper
{
    margin: 0;
    width:100%
}
header
{
    background: #DBFFEB;
    width: 100%;
    /*height: /!*86px*!/150px;
    /!*position: fixed;*!/
    padding: 40px 0;
    left: 0;
    z-index: 100;
    opacity: 0.9;*/
    margin: auto;
    height: 140px;
}
.logo
{
    width: 450px;
    font-size: 36px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    text-align: center;
}
#napis
{
    margin: auto;
    padding-top:7%;
    line-height: 35px;
    text-align: center;
}
#samochodzik
{
    padding-top:4%;
}
.nav
{
    margin: 0;
    width: 100%;
    /*padding: 10px 0;*/
    background-color: #1D7F48;
    text-align: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    height: 60px;

}
ol
{
    padding: 0;
    margin: 0;
    list-style-type: none ;
    height: 35px;
    line-height: 300%;
    display: inline-block;
    font-size: 18px;
}
#contant
{
    margin-top: 0;
    background: #DBFFEB;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
h1
{
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    padding:  0;
}
img
{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;

}
ol a
{
    text-decoration: none;
    display: block;
    color: #092926;
}
ol a:hover
{
    color: #1D7F48;
    cursor: pointer;
    text-decoration: none;
}
ol>li
{
    float: left;
    width: 150px;
    height: 60px;
    border-right: 1px dashed #171929;
}
ol>li:hover
{
    background-color: #1EFE81;
}
ol>li:first-child
{
    border-left: 1px dashed black;
}
section
{
    /*margin-left: auto;
    margin-right: auto;*/
    width: 20%;
    float:left;
    margin: 1% 1%;
    text-align: center;
}
.AddInfo
{
    width: 30%;
    float:left;
    margin: 1% 1%;
    text-align: center;
}
.facilities
{
    width: 30%;
    float:left;
    margin: 1% 1%;
    text-align: center;
}
.clear
{
    clear:both;
}
.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}
article
{
    /*float:left;*/
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 4%;
}
aside
{
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
    padding: 4%;
}
footer
{
    background: darkgray;
    width: 100%;
    text-align: center;
}
.contacts
{
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;

}
.socials
{
    width: 100%;
}
.Copyright
{
    text-align: center;
    background: #292c2c;
}
#slideshow #slideshowWindow
{
    width: 720px;
    height: 446px;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
#slideshow #slideshowWindow .slide
{
    margin: 0;
    padding: 0;
    width: 720px;
    height: 446px;
    float: left;
    position: relative;
}
table
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}
#el
{
    float: left;
    margin: 10px;
    padding-top: -100px;
}
#instruktorList
{
    padding: 40px;

}
#elka
{
    margin: 50px;
}
#comments
{
    padding: 40px;
}
#commentTips
{
    padding: 40px;
}
